---
body_class: "dictionary"
layout: "layout.njk"
title: "Dictionary API"
description: "API's"
---
<blockquote>
    <p>Dictionary API is—and always will be—free. Our mission is to provide users with an API that they can use to build a game, learning application, or next-generation speech and text technology. Your donation directly helps the development of Dictionary API and keeps the server running.</p>
    <a href="https://dictionaryapi.dev/" target="_blank" rel="noopener noreferrer">Documentation</a>
</blockquote>
{% include "../_includes/wip.njk" %}