---
body_class: "dictionary"
layout: "layout.njk"
title: "Dictionary API"
description: "API's"
---
<blockquote>
    <p>Dictionary API is—and always will be—free. Our mission is to provide users with an API that they can use to build a game, learning application, or next-generation speech and text technology. Your donation directly helps the development of Dictionary API and keeps the server running.</p>
    <a href="https://dictionaryapi.dev/" target="_blank" rel="noopener noreferrer">Documentation</a>
</blockquote>
<form action="#">
    <div>
        <input class="word-input" type="text" placeholder="Search for a word">
        <button class='dict-btn' type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>
<div class="results">
    <div>
        <h2><span><i class="fa fa-volume-up speak"></i></span>inevitable</h2>
        <audio></audio>
        <h3>a situation that is unavoidable.</h3>
        <p>"by the morning he had accepted the inevitable"</p>
    </div>
    <div>
        <h4>Synonyms</h4>
        <ul>
            <li>unavoidable</li>
            <li>bound to happen</li>
            <li>unpreventable</li>
            <li>assured</li>
            <li>certain</li>
            <li>sure</li>
            <li>fated</li>
            <li>predestined</li>
            <li>predetermined</li>
            <li>preordained</li>
            <li>ineluctable</li>
            <li>preordained</li>
            <li>necessary</li>
            <li>compulsory</li>
            <li>required</li>
            <li>obligatory</li>
            <li>mandatory</li>
            <li>prescribed</li>
            <li>ineludible</li>
        </ul>
    </div>
</div>