---
body_class: "unsplash"
layout: "layout.njk"
title: "Unsplash API"
description: "API's"
---
<blockquote>Unsplash is a website dedicated to sharing stock photography under the Unsplash license. Since 2021, it has been owned by Getty Images. The website claims over 265,000 contributing photographers and generates more than 16 billion photo impressions per month on their growing library of over 3.2 million photos.</blockquote>
<form action="#">
    <input type="search" placeholder="Search Unsplash...">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
<div class="container">
    <div class="portrait">
        <a href="https://images.unsplash.com/photo-1633113215951-ea4a22d285e1?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" target="_blank"><img src="https://images.unsplash.com/photo-1602102376018-0d5fb81b9dd2?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""></a>
    </div>
    <div class="landscape">
        <img src="https://images.unsplash.com/photo-1633114128729-0a8dc13406b9?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwyMXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1633328662602-c41a9bda7bf1?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
</div>