<header>
    <h1>{{ title }}</h1>
    <p class="contact">
    &copy; created by Kivi Corn 
    <a class="half-spin" href="http://bykivi.com/index.html" target="_blank"><i class="fa fa-link"></i></a>
    <a class="spin" href="mailto:kivi.webdev@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
    <a class="spin" href="https://github.com/KCode100" target="_blank"><i class="fab fa-github"></i></a>
    <a class="spin" href="https://www.linkedin.com/in/kivi-corn/" target="_blank"><i class="fab fa-linkedin"></i></a>
   </p>
</header>