	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/random-user/">Random User</a></li>
			<li><a href="/weather/">Weather</a></li>
			<li><a href="/unsplash/">Unsplash</a></li>
			<li><a href="/dictionary/">Dictionary</a></li>
			<li class="copy">&copy;made by Kivi Corn</li>
		</ul>
	</nav>