---
body_class: "random-user"
layout: "layout.njk"
title: "Random User API"
description: "API's"
---
<blockquote>
    <p>Random user generator is an API for generating placeholder user information. Get profile photos, names, and more. It's like Lorem Ipsum, for people.</p>
    <a href="https://randomuser.me/" target="_blank" rel="noopener noreferrer">Documentation</a>
</blockquote>
<div class="user-container">
    <div class="col1">
        <div class="user-img"></div>
        <button>Next User</button>
    </div>
    <details>
        <div class="info">
            <div id="title"></div>
            <span id="first"></span> 
            <span id="last"></span>
        </div>
        <div class="info">
            <div>Username: <span id="username"></span></div>
            <div>Password: <span id="password"></span></div>
        </div>
        <div class="info">
            <div>Email: <span id="email"></span></div>
            <div>Phone: <span id="phone"></span></div>
        </div>
        <div class="info">
            <div>DOB: <span id="dob"></span></div>
        </div>
        <div class="info">
            <div id="street"></div>
            <div id="city"></div>
            <div id="Postcode"></div>
        </div>
    </details>
</div>